@import url('https://fonts.googleapis.com/css?family=Monoton');

@-webkit-keyframes text-flicker-in-glow{0%{opacity:0}10%{opacity:0;text-shadow:none}10.1%{opacity:1;text-shadow:none}10.2%{opacity:0;text-shadow:none}20%{opacity:0;text-shadow:none}20.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.25)}20.6%{opacity:0;text-shadow:none}30%{opacity:0;text-shadow:none}30.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}30.5%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}30.6%{opacity:0;text-shadow:none}45%{opacity:0;text-shadow:none}45.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}50%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}55%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}55.1%{opacity:0;text-shadow:none}57%{opacity:0;text-shadow:none}57.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35)}60%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35)}60.1%{opacity:0;text-shadow:none}65%{opacity:0;text-shadow:none}65.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1)}75%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1)}75.1%{opacity:0;text-shadow:none}77%{opacity:0;text-shadow:none}77.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}85%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}85.1%{opacity:0;text-shadow:none}86%{opacity:0;text-shadow:none}86.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1)}100%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1)}}@keyframes text-flicker-in-glow{0%{opacity:0}10%{opacity:0;text-shadow:none}10.1%{opacity:1;text-shadow:none}10.2%{opacity:0;text-shadow:none}20%{opacity:0;text-shadow:none}20.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.25)}20.6%{opacity:0;text-shadow:none}30%{opacity:0;text-shadow:none}30.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}30.5%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}30.6%{opacity:0;text-shadow:none}45%{opacity:0;text-shadow:none}45.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}50%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}55%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.45),0 0 60px rgba(255,255,255,.25)}55.1%{opacity:0;text-shadow:none}57%{opacity:0;text-shadow:none}57.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35)}60%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35)}60.1%{opacity:0;text-shadow:none}65%{opacity:0;text-shadow:none}65.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1)}75%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.35),0 0 100px rgba(255,255,255,.1)}75.1%{opacity:0;text-shadow:none}77%{opacity:0;text-shadow:none}77.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}85%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.55),0 0 60px rgba(255,255,255,.4),0 0 110px rgba(255,255,255,.2),0 0 100px rgba(255,255,255,.1)}85.1%{opacity:0;text-shadow:none}86%{opacity:0;text-shadow:none}86.1%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1)}100%{opacity:1;text-shadow:0 0 30px rgba(255,255,255,.6),0 0 60px rgba(255,255,255,.45),0 0 110px rgba(255,255,255,.25),0 0 100px rgba(255,255,255,.1)}}



html, body {
  background-color: rgb(12, 10, 11);
  font-family: 'Monoton' , cursive;
}

p{
  font-family: Arial, Helvetica, sans-serif;
}

.nav{
  width: 10px;
}

/* .navbar1{
  width:100px;
  height:200px;
} */
.question{
  border:10px 10px 10px 100px;
  border-color: red;
  width:1200px;
  margin: 10px 10px 10px 100px;
   
}
.button{
  background-color: red;
  width: 100px;;
  border-radius: 5px;
  margin:10px;
}
.submit
{
  width:100px;
  font-family: Arial;
  border-radius: 5px;
  margin: 0px 0px 0px 650px;
  height:50px;
}
.container
{
  border: 2px solid red;
  background-color: rgb(191, 191, 214);
  padding:34px;
  margin: 50px 10px 22px 276px;

  width:900px;
}
.sections
{
  color:rgb(119, 106, 82);
background-color: #000;
width:auto;
border:20px;
border-color: red;
box-sizing: border-box;
}

h1 {
  font-weight: 400;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 84px;
  font-size: 108px;
  text-align: center;
  color: red;
  
}
.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px rgb(212, 226, 17), 0 0 20px rgb(18, 238, 227), 0 0 30px #e60073, 0 0 40px #2beb12, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px rgb(230, 18, 212), 0 0 30px #da0b0b, 0 0 40px #ff4da6, 0 0 50px #e63c3c, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}



  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
  
  
  main {
    width: 105%;
    height:fit-content;
  }
  main.vertical menu {
    float: left;
    position: fixed;
    margin: 54px 18px 0px 0px;
    width:15%;
    height:450;
    box-shadow: none;
    background-color: #000;
    background-image: linear-gradient(to top, rgba(4, 152, 228, 0.15) 0%, rgba(4, 152, 228, 0) 100%);
    border: solid 1px;
    -o-border-image: linear-gradient(to bottom left, #0498e4 0%, rgba(4, 152, 228, 0) 100%) 10% stretch;
       border-image: linear-gradient(to bottom left, #0498e4 0%, rgba(4, 152, 228, 0) 100%) 10% stretch;
  }
  main.vertical menu + menu {
    margin: 10% 10% 10% 15%;
  }
  
  menu {
    margin: 0;
    background-color: #181818;
    padding: 0;
    box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.1);
  }
  menu.primary {
    padding-top: 20px;
  }
  menu + menu {
    margin-top: 0;
  }
  
  .tabs {
    position: relative;
    margin: 0 10px;
    font-size: 0;
  }
  .tabs, .tabs.left.aligned {
    text-align: left;
  }
  .tabs.right.aligned {
    text-align: right;
  }
  .tabs.center.aligned {
    text-align: center;
  }
  .tabs > .tab {
    display: inline-block;
    vertical-align: middle;
    white-space: no-wrap;
    font-family: FoundationSans-LightCd;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    text-transform: uppercase;
    text-overflow: ellipsis;
    letter-spacing: 0.05em;
    position: relative;
    z-index: 0;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    outline: solid 64px transparent;
    transition: all 0.35s cubic-bezier(0.48, 0, 0, 1);
  }
  .tabs > .tab:before, .tabs > .tab:after {
    pointer-events: none;
    content: "";
    position: absolute;
    z-index: 1;
    display: block;
    transition: all 0.35s cubic-bezier(0.48, 0, 0, 1);
  }
  .tabs > .tab + .tab {
    margin-left: 5px;
  }
  .tabs > .tab.disabled, .tabs > .tab[disabled] {
    opacity: 0.3;
    pointer-events: none;
  }
  .tabs > .tab:not(.disabled):not([disabled]):active, .tabs > .tab:not(.disabled):not([disabled]):focus {
    outline: solid 0 rgba(4, 152, 228, 0.35);
  }
  .tabs > .tab:not(.disabled):not([disabled]).active, .tabs > .tab:not(.disabled):not([disabled]):active, .tabs > .tab:not(.disabled):not([disabled]):focus, .tabs > .tab:not(.disabled):not([disabled]):hover {
    z-index: 1;
    color: #fff;
  }
  .tabs > .tab:not(.disabled):not([disabled]).active {
    z-index: 2;
  }
  .tabs.primary > .tab {
    padding: 15px 15px;
  }
  .tabs.primary > .tab:before, .tabs.primary > .tab:after {
    left: 0;
    right: 0;
    bottom: 0;
    transform-origin: center bottom;
  }
  .tabs.primary > .tab:before {
    height: 100%;
    z-index: -1;
    opacity: 0;
    transform: scale(3, 0);
    border: solid #0498e4;
    border-width: 0 0 0 0;
    background-image: linear-gradient(to bottom, rgba(4, 152, 228, 0) 0%, rgba(4, 152, 228, 0.3) 100%);
  }
  .tabs.primary > .tab:after {
    height: 4px;
    background-color: transparent;
    transform: scale(15, 0.5);
  }
  .tabs.primary > .tab:not(.disabled):not([disabled]).active:before, .tabs.primary > .tab:not(.disabled):not([disabled]):active:before, .tabs.primary > .tab:not(.disabled):not([disabled]):focus:before, .tabs.primary > .tab:not(.disabled):not([disabled]):hover:before {
    opacity: 1;
    transform: scale(1);
  }
  .tabs.primary > .tab:not(.disabled):not([disabled]).active:after, .tabs.primary > .tab:not(.disabled):not([disabled]):active:after {
    background-color: #0498e4;
    transform: scale(1, 1);
  }
  .tabs.secondary {
    min-height: 40px;
  }
  .tabs.secondary > .tab {
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 4px 10px;
  }
  .tabs.secondary > .tab:before, .tabs.secondary > .tab:after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    transform: scale(5, 1);
  }
  .tabs.secondary > .tab:before {
    z-index: -1;
    background-color: transparent;
  }
  .tabs.secondary > .tab:after {
    border: solid 1px transparent;
  }
  .tabs.secondary > .tab:not(.disabled):not([disabled]).active:before, .tabs.secondary > .tab:not(.disabled):not([disabled]):active:before, .tabs.secondary > .tab:not(.disabled):not([disabled]):focus:before, .tabs.secondary > .tab:not(.disabled):not([disabled]):hover:before {
    background-color: rgba(4, 152, 228, 0.3);
    transform: scale(1);
  }
  .tabs.secondary > .tab:not(.disabled):not([disabled]).active:before, .tabs.secondary > .tab:not(.disabled):not([disabled]).active:after, .tabs.secondary > .tab:not(.disabled):not([disabled]):active:before, .tabs.secondary > .tab:not(.disabled):not([disabled]):active:after {
    transform: scale(1);
  }
  .tabs.secondary > .tab:not(.disabled):not([disabled]).active:after, .tabs.secondary > .tab:not(.disabled):not([disabled]):active:after {
    border-color: rgba(4, 152, 228, 0.85);
  }
  
  .tabs.vertical {
    margin: 0;
  }
  .tabs.vertical > .tab {
    display: block;
    margin-bottom: 0;
    margin-top: 0;
  }
  .tabs.vertical > .tab:before, .tabs.vertical > .tab:after {
    transform-origin: center left;
  }
  .tabs.vertical > .tab + .tab {
    margin-left: 0;
  }
  .tabs.vertical.primary > .tab {
    padding: 10px 20px;
  }
  .tabs.vertical.primary > .tab:before {
    border-width: 0 0 0 0;
    transform: scale(0, 3);
    background-image: linear-gradient(to left, rgba(4, 152, 228, 0) 0%, rgba(235, 53, 93, 0.3) 100%);
  }
  .tabs.vertical.primary > .tab:after {
    top: 0;
    bottom: 0;
    right: auto;
    height: auto;
    width: 6px;
    transform: scale(0.2, 5);
  }
  .tabs.vertical.secondary {
    margin: 5px 0;
  }
  .tabs.vertical.secondary > .tab {
    margin-left: 5px;
    margin-right: 5px;
  }
  .tabs.vertical.secondary > .tab + .tab {
    margin-top: 2px;
  }
  .tabs.vertical.secondary > .tab:before, .tabs.vertical.secondary > .tab:after {
    transform: scale(1, 5);
  }